{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Products</h2>

<a href="{% url 'add_product' %}" class="btn btn-primary mb-3">
    Add Product
</a>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    {% for product in products %}

        <tr>

            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.supplier }}</td>
            <td>₹ {{ product.price }}</td>
            <td>{{ product.quantity }}</td>

            <td>
                <button class="btn btn-warning btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>

        </tr>

    {% empty %}

        <tr>
            <td colspan="6" class="text-center">
                No Products Found
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}